name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Build
      run: uv build
    - name: Publish
      run: uv publish
